*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.content{
    max-width: 100%;
    margin: 0 auto;
}
h3{
    text-align: center;
    font-size: 32px;
    color: #212A2F;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 33%);
}
.subtitle{
    font-size: 22px;
    color: #212A2F;
}
.text{
    font-size: 14px;
    color: #212A2F;
}
.wrapper1{
    display: flex;
}
.child{
    position: relative;
    margin: 15px;
}
hr{
    color: #D3D4D5;
}
button{
    color: #212A2F;
    background-color: #FFFFFF;
    width: 276px;
    height: 48px;
    border: 1px white solid;
    margin: 12px;
}
.buttons{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.child:hover .buttons{
    display: block;
}
.img1{
    width: 100%;
}
@media(max-width: 700px){
    .wrapper{
        grid-template-columns: repeat(2, 49%);
    }
 }
@media(max-width: 400px){
    .wrapper{
        grid-template-columns: 100%;
    }
 }